*{
    margin: 0;
}
header{
    background-color: black;
    padding: 1%;
}
.logo{
    height: 5%; width: auto;
    position: relative; left: 45%;
}
.menu{
    padding-bottom: 1%; padding-top: 1%; margin-bottom: 1%;
    font-family: sans-serif;
    background-color: rgb(226, 232, 240);
    font-weight: bold;
}
footer{
    background-color: rgb(37, 36, 35);
    padding: 1%;
    position: relative;
    top: 5%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(205, 59, 55);
}
table{
    color: white;
    font-family: sans-serif;
    position: relative;
    left: 25%;
}
.banner{
    width: 80%;
    position: relative;
    left: 10%; padding: 1%;
}
.abanner{
    font-family: sans-serif;
    background-color: white;
    border-radius: 20px; border: solid 1px rgb(205, 59, 55);
    width: 200px; height: 40px;
    position: relative; left: 11%; top: 1%;
}
.abanner:hover{
    background-color: rgb(205, 59, 55); color: white;
    transition-duration: 0.5s;
}
.bannerbtn{
    position: relative;
    left: 5%; top: 25%;
    color: rgb(205, 59, 55);
}
.bannerbtn:hover{
    color: white;
    transition-duration: 0.5s;
}
.produk{
    margin: 3%; padding: 2%;
    font-family: sans-serif;
    width: 90%;
    border: solid 1px rgb(193, 193, 193);
}
.produk1,.produk2,.produk4,.produk5{
    background-color: rgb(226, 232, 240);
    border-radius: 20px; margin-top: 2%;
}
.produk3{
    width: 26%; height: auto;
    border-radius: 20px;
}
.jproduk1,.jproduk2{
    padding-top: 1%; padding-bottom: 0.5%;
}
.dproduk1,.dproduk2,.dproduk4{
    margin-right: 10%; float: left; 
}
.dproduk4{
    margin-top: 2%; margin-left: 0%;
    position: relative; left: -35%;
}
.dproduk5{
    position: relative; left: -30%;
}
@media only screen and (max-width: 1080px) {
    header{
        padding: 3%;
    }
    .logo{
        width: 22%; height: auto; left: 40%;
    }
    .menu{
        font-size: 175%;
    }
    table{
        font-size: 165%;
        left: 1%;
    }
    footer{
        top: 0%;
        padding: 2%;
    }
    .banner{
        width: 90%; height: auto;
        left: 5%;
    }
    .abanner{
        left: 5%;
        width: 40%;height: 3%;
        border-radius: 50px;
    }
    .bannerbtn{
        font-size: 175%;
        left: 9%; 
    }
    .produk1,.produk2{
        width: 100%;
    }
    .produk{
        margin-top: 8%;
        font-size: 200%;
    }
    .dproduk1,.dproduk3,.dproduk2,.dproduk5{
        width: 40%; margin-left: 5%; margin-bottom: 3%;
    }
    .produk3{
        width: 40%;
    }
    .produk4{
        width: 100%;
    }
    .produk5{
        width: 100%;
    }
    .dproduk2{
        margin-top: 2%;
    }
    .dproduk5{
        left: 0%; margin-top: 75%;
        width: 40%;
    }
    .dproduk4{
        left: 0%; width: 40%;
    }
    .dproduk1,.dproduk2,.dproduk4{
        margin-right: 6%;
    }
}