*{
    margin: 0;
}
header{
    background-color: black;
    padding: 1%;
}
.logo{
    height: 5%; width: auto;
    position: relative; left: 45%;
}
.menu{
    padding-bottom: 1%; padding-top: 1%; margin-bottom: 1%;
    font-family: sans-serif;
    background-color: rgb(226, 232, 240);
    font-weight: bold; 
}
footer{
    background-color: rgb(37, 36, 35);
    padding: 1%;
    position: relative;
    top: 5%;
}
.puter{
    color: white;
    font-family: sans-serif;
    position: relative;
    left: 25%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(205, 59, 55);
}
input{
    margin: 10px;
    padding: 2%;
    width: 80%;
    border-radius: 5px;
    position: relative;
    left: 8%;
}
.barang{
    position: relative;
    left: 8%;
}
b{
    font-family: sans-serif;
}
.bayar{
    background-color: rgb(226, 232, 240);
    position: relative;
    left: 25%;
    width: 50%; height: 110%;
}
.produk{
    position: absolute;
    top: 77%; left: 22%;
}
.harga{
    position: absolute;
    top: 80%; left: 22%;
}
h1{
    font-family: sans-serif;
    position: relative; top: 1%;
}
.tombol{
    background-color: rgb(205, 59, 55);
    padding: 2%; width: 80%;
    position: relative;
    left: 8%; top: 0%;
    border-radius: 50px;
    color: white;
    border: solid 1px rgb(205, 59, 55);
    opacity: 0.5;
}
.tombol:hover{
    opacity: 1;
    transition: 0.5s;
}
.htombol{
    position: relative;
    left: 42%;
    font-size: 150%;
}
@media only screen and (max-width: 1080px){
    header{
        padding: 3%;
    }
    .logo{
        width: 22%; height: auto; left: 40%;
    }
    .menu{
        font-size: 175%;
    }
    table{
        font-size: 165%;
        left: 1%;
    }
    footer{
        top: 0%;
    }
    .puter{
        left: 1%;
    }
    .bayar{
        width: 100%;
        left: 0%;
        height: 95%;
    }
    input{
        width: 50%;
        transform: scale(1.9);
        left: 24%;
        margin-bottom: 7%;
        padding: 2%;
        font-size: 125%;
    }
    .barang{
        width: 25%; height: auto;
        left: 0%;
    }
    .produk,.harga{
        transform: scale(2.5);
    }
    .produk{
        left: 50%; top: 73%;
        width: 28%;
    }
    .harga{
        left: 35%; top: 78%;
    }
    .tombol{
        height: 4%;
        font-size: 250%;
        top: 2%;
    }
    .htombol{
        left: 40%;
    }
    h1{
        transform: scale(1.5);
        top: 2%; left: 39%;
        width: fit-content;
    }
    form{
        margin-top: 9%;
    }
}
